<header class="container" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <span class="logo">Market</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about-us" sec:authorize="isAuthenticated()">О нас</a>
        <span sec:authorize="!isAuthenticated()">
      <a href="/login">Авторизоваться</a>
      <a href="/reg">Регистрация</a>
    </span>
        <span sec:authorize="hasAuthority('ROLE_SELLER')">
      <a href="/product/add">Добавить запись</a>
    </span>
        <span sec:authorize="isAuthenticated()">
      <a href="/user">Кабинет</a>
    </span>
        <span sec:authorize="hasAuthority('ROLE_ADMIN')">
      <a href="/admin" e>Панель админа</a>
    </span>
        <span sec:authorize="hasAuthority('ROLE_USER')">
      <a href="/cart" e>Корзина</a>
    </span>
    </nav>
</header>