<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список авторов</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <h3>Список авторов:</h3>
    <div class="items" th:if="${!authors.isEmpty()}">
        <table class="rows">
            <thead>
            <tr>
                <th>ID</th>
                <th>FullName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}">999</td>
                <td th:text="${author.fullName}">Ivanov</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${authors.isEmpty()}" class="block">
        <p>Нет ни одного автора</p>
    </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>