<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список жанров</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <h3>Список жанров:</h3>
    <div class="items" th:if="${!genres.isEmpty()}">
        <table class="rows">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.id}">999</td>
                <td th:text="${genre.name}">thriller</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${genres.isEmpty()}" class="block">
        <p>Нет ни одного жанра</p>
    </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>